Order Allow,Deny
Deny from 5.45.207.* 141.8.142.*
Allow from all

# BLOCK VISITORS REFERRED FROM GOOGLE.COM

RewriteCond %{HTTP_REFERER} ^https?://([a-z0-9-]+\.)?google\.com [NC]
RewriteRule .* - [F]
